extends layout

block content
    div#video-content
        div#player-container
            div#player

    script(src='../javascripts/jquery-3.3.1.min.js')
    script(src='../javascripts/helpers.js')
    
    script.
        $(function() {
            var getPlayerVars = function(videoId) {
                var playerVars = {};
                switch (videoId) {
                    case '9Koln22mx6c':
                        playerVars.autoplay = 1;
                        playerVars.start = 65;
                        playerVars.end = 70;
                        break;
                    default:
                        playerVars.start = '#{videoData.video_start}',
                        playerVars.end = '#{videoData.video_end}',
                        playerVars.autoplay = '#{videoData.autoplay}'
                }
                return playerVars;
            }; 
            
            TazGHelpers.whenYoutubeApiReady(function() {
                var player;
                var handlers = {};
                
                handlers[YT.PlayerState.ENDED] = () => {
                    console.log("ended");
                    $("nav").animate({opacity: 1});
                    $("body").removeClass("lights-off");
                }
                handlers[YT.PlayerState.PAUSED] = () => {
                    console.log("paused");
                    $("nav").animate({opacity: 1});
                    $("body").removeClass("lights-off");
                }
                handlers[YT.PlayerState.PLAYING] = () => {
                    console.log("playin");
                    $("nav").animate({opacity: 0});
                    $("body").addClass("lights-off");
                }
                /*var timeoutQueued = false;
                handlers[YT.PlayerState.PLAYING] = function() {
                    if (!timeoutQueued && player.getVideoData().video_id == 'HKK4KmDlj8U') {
                        setTimeout(function() {
                            $("#player-container").animate({opacity: 0}, 500);
                            timeoutQueued = true;
                        }, 8600);
                    }
                    $("#player-container").animate({opacity: 1}, 250);
                    console.log("playing");
                };     
                */
                TazGHelpers.addYTPlayer("player", {
                    videoId: '#{videoData.video_id}',
                    playerVars: getPlayerVars('#{videoData.video_id}')
                }, 
                function(p) {
                    player = p;
                    TazGHelpers.addYTPlayerStateHandlers(player, handlers);
                    console.log(player);
                });
            });
        });