extends layout

block content
    h1.text-center.text-light= videoData.title
    div#video-content
        div#player-container
            div#player

    script(src='../javascripts/jquery-3.3.1.min.js')
    script(src='../javascripts/helpers.js')
    script.
        $(function() {
            var getPlayerVars = videoId => {
                playerVars = {};
                switch (videoId) {
                    case '9Koln22mx6c': // what have you done
                        playerVars.autoplay = 1;
                        playerVars.start = 65;
                        playerVars.end = 70;
                        break;
                    default:
                        playerVars.start = '#{videoData.video_start}',
                        playerVars.end = '#{videoData.video_end}',
                        playerVars.autoplay = '#{videoData.autoplay}'
                }
                return playerVars;
            };

            var player, videoId = "#{videoData.video_id}";
            var handlers = {};

            TazGHelpers.whenYoutubeApiReady(() => {
                var pVars = getPlayerVars(videoId);
                
                handlers[YT.PlayerState.ENDED] = () => {
                    player.cueVideoById({
                        videoId: videoId,
                        startSeconds: pVars.start,
                        endSeconds: pVars.end
                    });
                };
                
                TazGHelpers.addYTPlayer("player", {
                    videoId: videoId,
                    playerVars: pVars
                }, 
                function(p) {
                    player = p;
                    TazGHelpers.addYTPlayerStateHandlers(player, handlers); 
                });
            });
        });